{% extends "base.html" %}

{% block titulo %}Préstamos Activos{% endblock %}

{% block contenido %}
<h2>Listado de Préstamos Activos</h2>

<ul>
  {% for prestamo in lista %}
    <li>
      <strong>{{ prestamo.libro.titulo }}</strong> prestado a 
      <strong>{{ prestamo.usuario.nombre }} {{ prestamo.usuario.apellido }}</strong>
      el {{ prestamo.fecha_prestamo }}
      —> no devuelto

      <form method="post" action="{% url 'prestamoADevuelto' prestamo.id %}" style="display:inline">
        {% csrf_token %}
        <button type="submit">Marcar como devuelto</button>
      </form>
    </li>
  {% empty %}
    <p>No hay préstamos activos en este momento.</p>
  {% endfor %}
</ul>

<a href="{% url 'nuevoPrestamo' %}">
  <button>Crear Préstamo</button>
</a>
<a href="{% url 'historialPrestamoUsuarioPagina' %}">
  <button>Ver historial por usuario</button>
</a>
{% endblock %}
